@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100..900&display=swap');

@theme {
  --font-primary: "Noto Sans Hebrew", sans-serif;

  /* colors */
  --color-primary: #383172;
  --color-light-primary: #6159A4;
  --color-sky: #49C3E1;
  --color-sky-soft: #DCF3F9;
  --palette-neutral-600: #28282A;

  /* font-sizes */
  --text-2xs: 8px;
  --text-xs: 10px;
  --text-sm: 12px;
  --text-base: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 28px;
  --text-4xl: 32px;
  --text-5xl: 36px;
  --text-6xl: 40px;
  --text-7xl: 48px;
  --text-8xl: 52px;
  --text-9xl: 64px;
  --text-header: 124px;

  /* border radius scale */
  --radius-4xl: 60px;
  --radius-3xl: 40px;
  --radius-2xl: 24px;
  --radius-xl: 12px;

  /* custom screen width based on figma */
  --max-width-10xl: 1760px;

  --font-700-line-136: 700 136%;
  --font-600-line-normal: 600 normal;
  --font-500-line-130: 500 130%;
  --font-400-line-147: 400 147%;
  --font-700-line-115: 700 115%;
  --font-400-line-122: 400 122%;
}

html body {
  font-family: var(--font-primary);
  background: #FAFAFA;
}

.font-700-line-136 {
  @apply font-bold;
  /* fallback */
  font: var(--font-700-line-136);
}

.font-600-line-normal {
  @apply font-semibold;
  font: var(--font-600-line-normal);
}

.font-500-line-130 {
  @apply font-medium;
  font: var(--font-500-line-130);
}

.font-400-line-147 {
  @apply font-normal;
  font: var(--font-400-line-147);
}

.font-700-line-115 {
  @apply font-bold;
  font: var(--font-700-line-115);
}

.font-400-line-122 {
  @apply font-normal;
  font: var(--font-400-line-122);
}