@import "tailwindcss";

@theme {

  /* colors */
  --color-primary: #383172;
  --color-light-primary: #6159A4;
  --color-sky: #49C3E1;
  --color-sky-soft: #DCF3F9;
  --palette-neutral-600: #28282A;

  /* font-sizes */
  --text-2xs: 8px;
  --text-xs: 10px;
  --text-sm: 12px;
  --text-base: 14px;
  --text-md: 16px;
  --text-lg: 20px;
  --text-xl: 24px;
  --text-2xl: 28px;
  --text-3xl: 32px;
  --text-4xl: 36px;
  --text-5xl: 40px;
  --text-6xl: 48px;
  --text-7xl: 52px;
  --text-8xl: 64px;
  --text-header: 124px;

  /* border radius scale */
  --radius-4xl: 60px;
  --radius-3xl: 40px;
  --radius-2xl: 24px;
  --radius-xl: 12px;

  /* custom screen width based on figma */
  --max-width-10xl: 1760px;
}