@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/beagle-126158');

@theme {
  --font-primary: "Noto Sans Hebrew", sans-serif;
  --font-secondary: 'Beagle', san-serif;

  /* colors */
  --color-primary: #383172;
  --color-light-primary: #6159A4;
  --color-sky: #49C3E1;
  --color-sky-soft: #DCF3F9;
  --color-neutral-600: #28282A;
  --color-gray-text: #6D6E71;
  --color-palette-primary-200: #A8A2D7;
  --color-theme-bg: #FAFAFA;
  --color-darker: #1B1B1B;
  /* font-sizes */
  --text-3xs: 7px;
  --text-2xs: 8px;
  --text-xs: 10px;
  --text-sm: 12px;
  --text-base: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 28px;
  --text-4xl: 32px;
  --text-5xl: 36px;
  --text-6xl: 40px;
  --text-7xl: 48px;
  --text-8xl: 52px;
  --text-9xl: 64px;
  --text-header: 124px;

  /* border radius scale */
  --radius-4xl: 60px;
  --radius-3xl: 40px;
  --radius-2xl: 24px;
  --radius-1xl: 14px;
  --radius-xl: 12px;

  /* custom screen width based on figma */
  --max-width-10xl: 1760px;

  --font-weight-700: 700;
  --font-weight-600: 600;
  --font-weight-500: 500;
  --font-weight-400: 400;

  --line-height-136: 136%;
  --line-height-130: 130%;
  --line-height-147: 147%;
  --line-height-115: 115%;
  --line-height-122: 122%;
  --line-height-normal: normal;
}



html body {
  font-family: var(--font-primary);
  background: #FAFAFA;
}

.hero-bg {
  background: linear-gradient(357deg, #FAFAFA 2.65%, #D9D6EF 97.35%);
}

.font-700-line-136 {
  font-weight: var(--font-weight-700);
  line-height: var(--line-height-136);
}

.font-700-line-normal {
  font-weight: var(--font-weight-700);
  line-height: var(--line-height-normal);
}

.font-600-line-normal {
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-normal);
}

.font-500-line-130 {
  font-weight: var(--font-weight-500);
  line-height: var(--line-height-130);
}

.font-400-line-147 {
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-147);
}

.font-700-line-115 {
  font-weight: var(--font-weight-700);
  line-height: var(--line-height-115);
}

.font-400-line-122 {
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-122);
}

.shadow-l {
  box-shadow: 0 24px 32px 0 rgba(97, 89, 164, 0.16), 0 2px 4px 0 rgba(116, 107, 191, 0.08), 0 8px 16px 0 rgba(116, 107, 191, 0.12);
}

.clinic-card {
  position: relative;
  padding: 42px 41px 41px 25px;
  background: lightgray;
  overflow: hidden;
  border-radius: 0 0 60px 0;
}

.clinic-card::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(81deg,
      rgba(73, 195, 225, 0.20) 2.36%,
      rgba(104, 132, 201, 0.85) 46.11%,
      rgba(116, 107, 191, 0.95) 93.17%);
  z-index: 1;
}

.clinic-card-content {
  position: relative;
  z-index: 2;
}

.owner-hero-top {
  border-radius: 60px 60px 0 60px;
  background: lightgray;
  background-position: 0px -139.103px;
  background-size: 100% 167.167%;
  background-repeat: no-repeat;
}

.owner-hero-bottom {
  border-radius: 60px 0 60px 60px;
  background: lightgray;
  background-position: 0px -145.419px;
  background-size: 100% 167.726%;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .clinic-card {
    border-radius: 60px 60px 60px 0;
    padding: 60px 52px 52px 109px;
  }
}



@media screen and (max-width: 1023px) {

  .owner-hero-top {
    background-position: 0px -47.535px;
    background-size: 100% 167.167%;
  }

  .owner-hero-bottom {
    background-position: 0px -49.873px;
    background-size: 100% 167.726%;
    background-repeat: no-repeat;
  }
}